header {
    background-color: darkorange;
    text-align: left;
    height: 50px;
    margin-bottom: 25px;
    padding: 25px 0px 25px 25px;
}

body{
    background-color: darkred;
    color: black;
}

h1{
    color: black;
}

article{
    width: 500px;
    height: auto;
    border: 2px solid white;
    padding: 2px;
    margin-left: 33%;
}

.post {
    background-color: pink;
}

p {
    padding: 10px;
}

footer {
    background-color: darkorange;
    height: 75px;
    margin-top: 25px;
}

.date {
    padding: 0px;
}

h2 {
    padding-left: 0px;
    color: yellow;
}

.post.text {
    margin: 20px;
}

.post.title { 
    color: yellow;
}